[Desktop Entry]
Type=Application
Name=xerotop
GenericName=System Monitor
Comment=Battery-conscious gkrellm-style system monitor bar
Exec=xerotop
Icon=cc.xeron.xerotop
Terminal=false
Categories=System;Monitor;
StartupWMClass=cc.xeron.xerotop
